nav {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    /* Gaya untuk logo Anda */
    width: 40%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Gaya responsif untuk layar kecil */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        margin-top: 10px;
    }
    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}